@use './../../style/theme' as theme;

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  
  .action-button {
    padding: 8px 16px;
    border-radius: 4px;
    background: var(--lavender);
    opacity: 0.95;
    color: var(--dark-grey);

    border: .5px solid var(--light-beige);
    cursor: pointer;
    
    &:hover {
      background: --olive;
    }
  }