$theme: (
  top: (
    lavender: #afa0d0,
    brown: #a4806a,
    pink: #d0a0a0
  ),
  middle: (
    brown: #a4806a,
    green: #a0b78c,
    gray: #b0a299,
    lightBeige: #f2ece4
  ),
  third: (
    olive: #9a8e52,
    blue: #8aa4d0,
    brown: #a4806a
  ),
  bottom: (
    brown: #a4806a,
    pink: #d0a0a0,
    green: #9da785
  )
); 