:root {
  --lavender: rgb(175, 160, 208);
  --brown: #a4806a;
  --pink: #d0a0a0;
  --green: #a0b78c;
  --gray: #b0a299;
  --light-beige: #f2ece4;
  --olive: #9a8e52;
  --blue: #8aa4d0;
  --dark-grey: #333333;
}
