@use './style/theme' as theme;

body {
  background: linear-gradient(
    to bottom,
    var(--lavender),
    var(--brown)
  ), url('./assets/grex.jpg');
  background-blend-mode: multiply;
  animation: gradient 500s ease infinite;
  background-size: 200px;
  min-height: 100vh; 
}

@keyframes gradient {
  0% {
    background-position: 10% 0%;
  }
  50% {
    background-position: 91% 100%;
  }
  100% {
    background-position: 10% 0%;
  }
}

