@use "./style/theme" as theme;

body {
  background: linear-gradient(to bottom, var(--lavender), var(--brown)),
    url("./assets/grex.jpg");
  background-blend-mode: multiply;
  animation: gradient 500s ease infinite;
  background-size: 200px;
  background-attachment: fixed;
  background-repeat: repeat;
  background-position: center center;
  min-height: 100vh;
  font-family: 'Quicksand', sans-serif; 
  
  /* Fallback if image doesn't load */
  @media (max-width: 768px) {
    background-size: 100px;
    background-attachment: scroll;
  }
}

@keyframes gradient {
  0% {
    background-position: 10% 0%;
  }
  50% {
    background-position: 91% 100%;
  }
  100% {
    background-position: 10% 0%;
  }
}

.page-container {
  background: var(--light-beige);
  opacity: 0.95;
  border-radius: 16px;
  margin: auto;
  padding: .5rem;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@font-face {
  font-family: 'Caesar';
  src: url('./style/fonts/Caesar_Dressing/CaesarDressing-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.caesar-font {
  font-family: 'Caesar', sans-serif;
}

@font-face {
  font-family: 'Oxygen';
  src: url('./style/fonts/Oxygen_Mono/OxygenMono-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.oxygen-font {
  font-family: 'Oxygen', sans-serif;
}

@font-face {
  font-family: 'Quicksand';
  src: url('./style/fonts/Quicksand/Quicksand-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.quicksand-font {
  font-family: 'Quicksand', sans-serif;
}
