.section {
    background: var(--light-beige);
    opacity: 0.95;
    border-radius: 16px;
    margin: 24px;
    padding: 24px;
    .tech-stack {
        display: flex;
        flex-wrap: wrap;
        gap: 4px;
        > * {
            white-space: nowrap;  // Prevent breaking within tech stack items
        }
    };
}