.mobile-btn {
    width: 64px;
    height: 64px;
    background: var(--light-beige);
    opacity: 0.95;
    color: var(--dark-grey);
    outline: var(--dark-grey);
    border-radius: 10px;
    margin: 8px;
}