.home {
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
  height: 93vh;
  margin: auto;
  > div {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}
.home > * {
  display: flex;
}
